@media (max-width: 769px) {
	.header__top--menu {
		flex-direction: column;
	}
	.menu li:first-child {
		padding-left: 0;
	}
	header .menu ul {
		margin-top: 27px;
	}
	header .header__play {
		margin-top: 74px;
	}
	header .header__content {
		padding: 0px 66px 0 25px;
	}
	header .header__content--tittle {
		padding-top: 100px;
	}
	header .header__content--tittle h1 {
		font-size: 2.95em;
	}
	header .header__content--tittle h2 {
		font-size: 1.46em;
		line-height: 1.7em;
		margin-bottom: 0;
	}
	header .header__content--tittle p {
		line-height: 1.625em;
		font-size: 1em;
	}
	header .header__play--img {
		margin: -22px 0 -16px 95px;
	}
	.slider {
		padding: 39px 0 98px 0;
	}
	.slider__items {
		padding-right: 155px;
	}

	.tablet {
		display: none; 		/*important for all spans*/
	}
	.sprite sprite-note {
		display: none;
	}
	.logos__img img {
		display: none;
	}
	.logos__img--768 {
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	.copyright,.comments__nav--title {
		display: none;
	}
	footer.footer {
	background: url(../image/bg-footer768.png);
	background-position: 0 151px;
	}
	.footer__copyright  p {
		padding: 103px 0 85px 0;
	}
}
@media (min-width: 769px) {
	.title__items {
		display: none;
	}
	.logos__img--768 {
		display: none;
	}
}	

@media (max-width: 769px)

