* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'League Gothic Regular';
	font-weight: lighter;
	
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*style for header*/

.header {
	background: url('../image/bg-960.jpeg') no-repeat;
	background-position: -479px 0;
}

.header__top {
	max-width: 960px;
	margin: 0 auto;
}


.logo {
	margin-top: 70px;
}

.header__top--menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
 
 /* style for hidden menu*/

.menu__480--visible {
	display: none;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
	width: 244px;
	height: 47px;
	background-color: rgba(116, 97, 125, .902);
	border-radius: 10px 10px 0 0;
	position: relative;
	border-top: 1px solid #5f486a; 
	border-left: 1px solid #3f3348;
	box-shadow: 0 0 0 1px rgba(16, 26, 33, 1);
}
 
.menu__480--visible a {
	line-height: 47px;
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
}

.menu__480--hidden li:hover {
	cursor: pointer;
	background-color: rgba(43, 34, 49, .902);
	border-bottom: 2px solid #edbfff;
	box-sizing: border-box;
}

.menu__480--hidden {
	display: none;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
	width: 244px;
	background-color: rgba(116, 97, 125, .902);
	border-radius: 0 0 10px 10px;
	position: absolute;
	right: 0px;
	border-left: 1px solid #3f3348;
	box-shadow: 0 0 0 1px rgba(16, 26, 33, 1);
}

.menu__480--hidden li {
	height: 42px;
	box-sizing: border-box;
	border-top: 1px solid #523e5a;
	box-shadow: 0 -1px 0 0 rgba(54, 40 ,62, 1);
}

.menu__480--hidden a {
	line-height: 38px;
    display: block;
}

/*and of hidden menu*/

.menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 71px;
}

.menu li {
	padding-left: 52px;
	font-size: 24px;
	text-transform: uppercase;
}

.menu a {
	color: #fff;
}

.menu a:hover {
	border-bottom: 2px solid #edbfff;
}

.header__play {
	background-color: rgba(0, 0, 0, .5);
	margin-top: 165px;
} 

.header__content {
	max-width: 960px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__content--tittle {
	padding-top: 79px;
	line-height: 1;
	-ms-flex-preferred-size: 53%;
    flex-basis: 53%;
}

.header__content--tittle h1 {
	text-transform: capitalize;
    color: #fefefe;
    font-size: 3.665em;
    font-weight: 100;
}

.header__content--tittle h2 {
	text-transform: uppercase;
    color: #edbfff;
    font-size: 1.95em;
    font-weight: 100;
    margin-bottom: 7px;
    line-height: 1em;
}

.header__content--tittle p {
	font-family:  'Open Sans';
	font-size: 1.1em;
	color: #fff;
	line-height: 1.4em;
}

.header__play--img {
	margin: -17px 0 -21px 108px;
}

.header__play--img480 {
	display: none;
}

.slider {
	max-width: 960px;
	margin: 0 auto;
	padding: 93px 0 57px 0;
}

.slider__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
	padding-right: 157px; 
}

.slider__btn {
	margin-right: 5px;
}

.slider__items i:hover {
	cursor: pointer;
	width: 18px;
    height: 18px;
    background-position: -21px -1px;
}

.sprite__slider {
    background-image: url(../image/spritesheet1.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-111 {
    width: 18px;
    height: 18px;
    background-position: -1px -1px;
}

.article {
	background: url('../image/bg-article.jpeg');
	background-size: contain;
}	

.article__nav {
	max-width: 968px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding: 73px 0 66px 69px;
	box-sizing: border-box;
}

.sprite {
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 250px;
    top: 12px;

}

.sprite-key {
	display: none;
    width: 26px;
    height: 25px;
    background-position: -2px -2px;
    margin-right: 18px;
}

.sprite-key_768 {
    width: 26px;
    height: 25px;
    background-position: -2px -2px;
    margin-right: 37px;
}

.sprite-note {
    width: 25px;
    height: 25px;
    background-position: -30px -2px;
}

.sprite-speak {
    width: 28px;
    height: 23px;
    background-position: -57px -2px;
    margin: 4px 15px;
}

.article__nav--about {
	-ms-flex-preferred-size: 29%;
    flex-basis: 29%;
	position: relative;
	box-sizing: border-box;
}

.article__nav--about a {
	color: #fff;
	float: right;
    font-size: 18px;
    text-transform: uppercase;
    margin: 18px 45px 0 0;
}

.article__nav--about a:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, .8);
}

.article__sub--2 {
	margin-left: 23px;
}

.article__sub--3 {
	margin-left: 23px;
}

.article__nav--about h3 {
	text-transform: uppercase;
    color: #fff;
    font-size: 1.875em;
    font-weight: 100;
    margin-bottom: 5px;
}

.article__nav--about p {
	font-family:  'Open Sans';
	font-size: 1em;
	color: #fff;
	line-height: 1.55;
}

.blog {
	background: url('../image/bg-blog.jpeg');
	background-size: contain;
}

.blog__content {
	max-width: 960px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 0 71px;
	overflow: hidden;
}

.blog__content--sell {
	max-width: 49%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog__content--main {
	background-image: url('../image/blog-main.png');
	background-size: cover;
	max-width: 75.69%;
    margin: 82px 0 5px;
	padding: 24px 25px 55px 36px;
	position: relative;
}

.blog__content--main img {
	position: absolute;
	left: -27px;
    top: 17px;
}

.blog__content--main h3 {
	font-size: 30px;
	font-weight: 100;
	text-transform: uppercase;
	color: #454545;
	margin-bottom: 7px;
}

.blog__important {
	font-weight: 100;
	text-transform: uppercase;
	color: #edbfff;
	letter-spacing: .1px;
}

.blog__content--main p {
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.5em;
	letter-spacing: -0.1px;
}

.blog__content--recent {
	max-width: 46.8%;
	margin: 106px 15px 0 0;
}

.blog__content--recent h3 {
	font-size: 1.875em;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 14px;
}

.blog__content--recent h5 {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 1em;
}

.blog__content--recent p {
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.625em;
	letter-spacing: -0.12px;
}

.blog__link1 {
	float: right;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 18px;
    margin: 2px 6px;
    color: #454545;
}

.blog__link2 {
	display: none;
	float: right;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 18px;
    margin: 2px 6px;
    color: #454545;
}

.updates {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-bottom: 17px;
}

.updates__sub {
	margin-left: 17px;
}

.blog__slider--items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 12px;
}

.blog__slider--btn {
	margin-right: 4px;
}

.sprite-333 {
    width: 18px;
    height: 19px;
    background-position: -41px -1px;
}

.blog__slider--btn i:hover {
	width: 18px;
    height: 18px;
    background-position: -61px -1px;
    cursor: pointer;
}

.logos {
	background: url('../image/bg-logos.jpeg') no-repeat;
}

.logos__img {
	display: none;
	max-width: 960px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	padding: 26px 0 28px 4px;
}

.logos__img--768 {
	display: none;
    margin: 0 auto;
    padding: 27px 0 24px 4px;
}

.logos__img--480 {
	display: none;
	padding: 37px 0 35px;
    text-align: center;
}

.logos__img--320 {
	display: none;
	text-align: center;
    padding: 52px 0 72px 0;
}

.comments {
	background: url('../image/bg-comments.jpeg');
	background-size: contain;
}

.comments__nav {
	max-width: 960px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding: 91px 0 94px;
}

.comments__nav--item h2 {
	font-size: 3em;
	text-transform: uppercase;
	color: #454545;
	font-weight: 100;
	letter-spacing: -0.5px;
}

.comments__nav--diff {
	color: #b9b9b9;
}

.copyright {
	font-size: 16px;
	font-family: 'Georgia';
	color: rgb(197, 197, 197);
	font-style: italic;
	line-height: 2.2;
	letter-spacing: -0.1px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .004);
}

.comments__nav--item {
	-ms-flex-preferred-size: 29.4%;
    flex-basis: 29.4%;
}

.phone_480--in {
	display: none;
}

.comments__nav--item h3 {
	font-size: 1.875em;
	color: #454545;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1.5;
}

.comments__nav--item p {
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.5em;
	letter-spacing: -0.1px;
}

.title__items {
	display: none;
}

.footer {
	background: url('../image/bg-footer.png');
	background-position: 0 114px;
}

.footer__nav {
	max-width: 961px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__nav--menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	font-size: 1.25em;
    text-transform: uppercase;
    padding: 44px 0;
}

.footer__nav--menu {
	-ms-flex-preferred-size: 55%;
	 flex-basis: 55%;
}

.footer__nav--menu a {
	color: #fff;
}

.footer__copyright {
	font-size: .75em;
	font-family: 'Open Sans';
	color: #fff;
	padding-top: 51px;
}

.footer__copyright span {
	font-weight: 800;
}