* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'League Gothic Regular';
	font-weight: lighter;
	
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
.wrapper {
	/*background: url('../image/bg-960.jpeg') no-repeat;
	background-size: cover;*/
}

/*style for header*/

.header {
	background: url('../image/bg-960.jpeg') no-repeat;
	background-size: cover;
}

.header__top {
	max-width: 960px;
	margin: 0 auto;
}


.logo {
	margin-top: 70px;

}

.header__top--menu {
	display: flex;
	justify-content: space-between;
}

.menu ul {
	display: flex;
	margin-top: 71px;
}

.menu li {
	padding-left: 52px;
	font-size: 24px;
	text-transform: uppercase;
}

.menu a {
	color: #fff;
}

.menu a:hover {
	border-bottom: 2px solid #edbfff;

}

.header__play {
	background-color: rgba(0, 0, 0, .5);
	margin-top: 165px;
} 

.header__content {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
}

.header__content--tittle {
	padding-top: 79px;
	line-height: 1;
	flex-basis: 53%;
}

.header__content--tittle h1 {
	text-transform: capitalize;
    color: #fefefe;
    font-size: 3.665em;
    font-weight: 100;
}

.header__content--tittle h2 {
	text-transform: uppercase;
    color: #edbfff;
    font-size: 1.95em;
    font-weight: 100;
    margin-bottom: 7px;
    line-height: 2em;
}

.header__content--tittle p {
	font-family:  'Open Sans';
	font-size: 1.1em;
	color: #fff;
	line-height: 1.4em;
}

.header__play--img {
	margin: -17px 0 -21px 108px;
}

.slider {
	max-width: 960px;
	margin: 0 auto;
	padding: 93px 0 57px 0;
}

.slider__items {
	display: flex;
	justify-content: flex-end;
	padding-right: 157px; 
}

.slider__btn {
	margin-right: 5px;
}

.slider__items i:hover {
	cursor: pointer;
	width: 18px;
    height: 18px;
    background-position: -21px -1px;
}

.sprite__slider {
    background-image: url(../image/spritesheet1.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-111 {
    width: 18px;
    height: 18px;
    background-position: -1px -1px;
}

/*.sprite-222 {
    width: 18px;
    height: 18px;
    background-position: -21px -1px;
}*/


.article {
	background: url('../image/bg-article.jpeg');
	background-size: contain;
}	

.article__nav {
	max-width: 968px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 73px 0 66px 68px;
	box-sizing: border-box;
}

.sprite {
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 250px;
    top: 12px;

}

.sprite-key {
    width: 25px;
    height: 25px;
    background-position: -2px -2px;
    margin-right: 18px;
}

.sprite-note {
    width: 25px;
    height: 25px;
    background-position: -30px -2px;
}

.sprite-speak {
    width: 28px;
    height: 23px;
    background-position: -57px -2px;
    margin: 2px 6px;
}

.article__nav--about {
	flex-basis: 27%;
	position: relative;
	box-sizing: border-box;
}
.article__nav--about a {
	color: #fff;
	float: right;
    font-size: 18px;
    text-transform: uppercase;
    margin: 18px 28px 0 0;
}

.article__nav--about a:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);

}

.article__sub--2 {
	margin-left: 10px;
}

.article__sub--3 {
	margin-left: 17px;
}

.article__nav--about h3 {
	text-transform: uppercase;
    color: #fff;
    font-size: 1.875em;
    font-weight: 100;
    margin-bottom: 5px;
}

.article__nav--about p {
	font-family:  'Open Sans';
	font-size: 1em;
	color: #fff;
	line-height: 1.55;
}

.blog {
	background: url('../image/bg-blog.jpeg');
	background-size: contain;
}

.blog__content {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 69px 0;
	overflow: hidden;
}

.blog__content--sell {
	max-width: 49%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__content--main {
	background-image: url('../image/blog-main.png');
	background-size: cover;
	max-width: 75.69%;
    margin: 82px 0 7px 0;
	padding: 25px 25px 55px 39px;
	position: relative;
}

.blog__content--main img {
	position: absolute;
	left: -24px;
    top: 17px;
}

.blog__content--main h3 {
	font-size: 1.875em;
	font-weight: 100;
	text-transform: uppercase;
	color: #454545;
	margin-bottom: 7px;
}

.blog__important {
	font-size: 30px;
	font-weight: 100;
	text-transform: uppercase;
	color: #edbfff;
	letter-spacing: 0.1px;
}

.blog__content--main p {
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.5em;
}

.blog__content--recent {
	max-width: 46.8%;
	margin: 107px 8px 0 0;
}

.blog__content--recent h3 {
	font-size: 1.875em;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 14px;
}

.blog__content--recent h5 {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 1em;
}

.blog__content--recent p {
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.625em;
}

.blog__content--recent a {
	float: right;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 18px;
    margin: 2px 13px;
    color: #454545;
}

.updates {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 17px;
}

.updates__sub {
	margin-left: 17px;
}

.blog__slider--items {
	display: flex;
	margin-left: 12px;
}

.blog__slider--btn {
	margin-right: 4px;
}

.sprite-333 {
    width: 18px;
    height: 19px;
    background-position: -41px -1px;
}

.blog__slider--btn i:hover {
	width: 18px;
    height: 18px;
    background-position: -61px -1px;
    cursor: pointer;
}

/*.sprite-444 {
    width: 18px;
    height: 18px;
    background-position: -61px -1px;
}
*/


.logos {
	background: url('../image/bg-logos.jpeg');
}

.logos__img {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 26px 0 28px 4px;
}

.comments {
	background: url('../image/bg-comments.jpeg');
	background-size: contain;
}

.comments__nav {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 91px 0 94px 0;
}

.comments__nav--title {
	font-size: 3em;
	text-transform: uppercase;
	color: #454545;
	font-weight: 100;
	letter-spacing: -0.5px;
}

.comments-__nav-title span {
	color: #b9b9b9;
}

.copyright {
  font-size: 16px;
  font-family: 'Georgia';
  color: rgb(197, 197, 197);
  font-style: italic;
  line-height: 2.2;
  letter-spacing: -0.1px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.comments__nav--item {
	flex-basis: 29.4%;
}

.comments__nav--item h3 {
	font-size: 1.875em;
	color: #454545;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1.5;
}

.comments__nav--item p {
	font-family: 'Open Sans';
	font-size: 1em;
	line-height: 1.5em;
	letter-spacing: -0.1px;
}
.footer {
	background: url('../image/bg-footer.png');
	background-position: 0px 114px;
}

.footer__nav {
	max-width: 961px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer__nav--menu ul {
	display: flex;
	justify-content: space-between;
	font-size: 1.25em;
    text-transform: uppercase;
    padding: 44px 0;
}

.footer__nav--menu {
	flex-basis: 55%;
}

.footer__nav--menu a {
	color: #fff;
}

.footer__copyright {
	font-size: 0.75em;
	font-family: 'Open Sans';
	color: #fff;
	padding-top: 51px;
}

.footer__copyright span {
	font-weight: 800;
}